*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    --accent1: #048ae9;
    --accent2: #f0cf29;
    --lightbackground: #eee;
    --mainicons: #4d4d4d;
  }
  
  html {
    font-size: 10px;
  }

  body {
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-y: overlay;
    color: var(--mainicons);
}

  div {
    border: 1px solid var(--mainicons);
  }

  .dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: max(250px, 15%) 1fr;
    grid-template-rows: max(220px, 5%) 1fr;
  }

  .dashboard > div {
    padding: 25px;
    border: none;
  }

  .sidebar {
    grid-row: 1 / 3;
    background-color: var(--accent1);
  }

  .sidebar div {
    margin-bottom: 35px;
  }

  .maintop {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 35px;
    box-shadow: 2px 0px 5px var(--mainicons);
    z-index: 1;
  }

  .maintop > div {
    padding: 0 25px;
  }

  .mainbottom {
    background-color: var(--lightbackground);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
  }

  .logo {
    height: 100px;
  }

  .nav {
    height: 200px;
  }

  .search {
    display: grid;
    grid-template-columns: 50px 1fr;
    border: none; /*temporary*/
    align-items: center;
  }

  .icon {
    fill: var(--mainicons);
  }

  input {
    width: 100%;
    min-height: 30px;
    outline: none;
    border: none;
    background-color: var(--lightbackground);
    font-size: 15px;
    border-radius: 25px;
    padding: 2px 15px;
    margin-left: -15px;
  }

  .accountinfo {
    display: grid;
    grid-template-columns: 50px 58px auto;
    justify-content: end;
    align-items: center;
    border: none; /*temporary*/
  }

  .strong {
    font-weight: bold;
  }

  .welcome {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    border: none; /*temporary*/
  }

  .welcome > img {
    grid-row: 1 / 3;
    padding-right: 15px;
  }

  .small {
    font-size: 1.5rem;
    align-self: center;
  }

  .large {
    font-size: 3rem;
    margin-top: -15px;
  }

  .quickstart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: end;
    border: none; /*temporary*/
  }

  button {
    background: var(--accent1);
    color: #fff;
    border-radius: 25px;
    font: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    width: 150px;
  }

  button:hover {
    cursor: pointer;
    background-color: var(--accent2);
  }