*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    --accent1: #C9FD81;
    --accent2: #00ffcc;
    --lightbackground: #F0EEED;
    --mainicons: #4b4b4b;
    --shadow: #c7c3c0;
  }
  
  html {
    font-size: 10px;
  }

  body {
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    font-family: "roboto condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-y: overlay;
    color: var(--mainicons);
}

  .dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: max(200px, 15%) 1fr;
    grid-template-rows: min-content 1fr;
  }

  .sidebar {
    grid-row: 1 / 3;
    padding: 25px;
    background-color: var(--accent1);
    color: var(--mainicons);
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    align-self: start;
    border-right: 1px solid var(--mainicons);
  }

  .sidebar div {
    margin-bottom: 35px;
  }

  .nav p {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
  }

  .nav p:hover {
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.03);
    }

  .last {
    padding-bottom: 15px;
  }

  .maintop {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.5fr 1fr;
    row-gap: 25px;
    column-gap: 10px;
    padding: 30px 50px 40px;
    border-bottom: 1px solid var(--mainicons);
  }

  hr {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .mainbottom {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 35px;
    padding: 50px;
  }

  .logo {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 10px;
    align-items: center;
  }

  .logo > p {
    padding-top: 3px;
  }

  .nav {
    padding-left: 6px;
    display: grid;
    grid-template-columns: 22px 1fr;
    row-gap: 20px;
    column-gap: 10px;
    align-items: baseline;
    letter-spacing: 1px;
  }

  .search {
    display: grid;
    grid-template-columns: 50px 1fr;
    border: none; /*temporary*/
    align-items: center;
  }

  .icon {
    fill: var(--mainicons);
  }

  a:hover {
    cursor: pointer;
  }

  input {
    width: 100%;
    min-height: 30px;
    outline: none;
    border: none;
    background-color: var(--lightbackground);
    font-size: 15px;
    border-radius: 5px;
    padding: 2px 8px;
    margin-left: -15px;
  }

  .accountinfo {
    display: grid;
    grid-template-columns: 50px 58px auto;
    justify-content: end;
    align-items: center;
  }

  .strong {
    font-weight: bold;
  }

  .welcome {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .trending {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 15px;
  }

  .lasttrend {
    margin-bottom: 0;
  }

  .pushdown {
    margin-top: 15px;
  }  

  .welcome > img, .trending > img {
    grid-row: 1 / 3;
    padding-right: 15px;
  }

  .small {
    font-size: 1.5rem;
    align-self: center;
  }

  .mid {
    font-size: 1.85rem;
    padding-bottom: 5px;
  }

  .spacebelow {
    margin-bottom: 35px;
  }

  .large {
    font-size: 2.5rem;
    margin-top: -2px;
  }

  .largemain {
    font-size: 2.5rem;
  }

  .quickstart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: end;
    border: none; /*temporary*/
    gap: 15px;
  }

  button {
    border-radius: 5px;
    font: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px 8px 15px;
    background-color: white;
    color: var(--mainicons);
    border: 1px solid var(--mainicons);
    width: 120px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 2px 2px 0px var(--accent1);
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 2px 2px 0px var(--accent2);
  }

  .leftside > p, .rightside > p {
    padding-bottom: 10px;
  }

  .cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .accountinfo > svg:hover {
    cursor: pointer;
  }

  .card, .longcard {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 0px var(--accent1);
    border: 1px solid var(--mainicons);
  }

  .longcard {
    padding: 35px 35px 35px 30px;
  }

  .card {
    padding: 35px 35px 25px 30px;
    min-height: 250px;
  }

  .smallicons {
    text-align: right;
    margin-top: 68px;
  }

  .smallicons > svg {
    padding-left: 10px;
  }

  .smallicons > svg:hover {
    cursor: pointer;
    transform: scale(1.06);
    fill: var(--accent2);
  }